<!DOCTYPE html>
<html>
<head>
    <base href="/">
    <title>Madera</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="dist/css/mastrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.css">

    <style>
        nav.nav .nav-link.active {
            color: green;
        }

        nav.nav .nav-link {
            border-right: 1px solid rgba(0,0,0,.125);
            padding: 8px 10px;
            color: #333;
        }

        nav.nav {
            border-bottom: 1px solid rgba(0,0,0,.125);
        }

        .form-group {
            margin-bottom: 0;
        }

        .fade:not(.show) {
            display: none;
        }
        .navbar-expand-lg .navbar-nav .nav-link {
            padding-right: 0;
            padding-left: 0;
        }
        .navbar-brand {
            margin-right: 0;
        }
        .nav-gear {
            margin-right: 9px;
        }
        .modal.modal-primary .modal-header {
            color: #fff;
            background-color: #008548;
        }
        .btn-add-table {
            margin-right: 28px;
        }

        @media (min-width: 875px) {
            .modal-dialog.modal-dialog-extended {
                max-width: 800px;
            }
        }

        .modal .modal-dialog .modal-header {
            text-transform: initial;
            font-family: inherit;
        }

        .modal .modal-dialog .modal-header .modal-title {
            text-transform: uppercase;
            font-family: 'Nova Square',cursive;
        }

        .dropdown.dropdown-el .dropdown-menu {
            overflow-y: scroll;
            max-height: 200px;
            border-radius: 0;
        }
        .dropdown.dropdown-el .dropdown-menu .dropdown-item {
            cursor: pointer;
        }
    </style>
</head>
<body ng-class="{'outside-panel': !isAuth}" id="t">
<nav class="navbar navbar-expand-lg navbar-dark bg-primary d-none" ng-class="{'d-flex': isAuth}">
    <a class="navbar-brand" href="/">
        <img src="img/logo.png" width="30" height="30" class="d-inline-block align-top">
    </a>
    <span class="nav-separator"></span>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="" data-toggle="dropdown" id="nav-selection">
                    <span ng-if="currentRoute.$$route.originalPath.includes('/conception')">Conception des devis</span>
                    <span ng-if="currentRoute.$$route.originalPath.includes('/paiement')">Modalités de paiement</span>
                    <span ng-if="currentRoute.$$route.originalPath.includes('/admin')">Administration</span>
                    <span ng-if="currentRoute.$$route.originalPath.includes('/settings')">Paramétrage</span>
                    <span ng-if="currentRoute.$$route.originalPath.includes('/gestion')">Gestion</span>
                    <span ng-if="currentRoute.$$route.originalPath.includes('/profil')">Profil</span>
                    <span ng-if="(
                        !currentRoute.$$route.originalPath.includes('/conception') &&
                        !currentRoute.$$route.originalPath.includes('/paiement') &&
                        !currentRoute.$$route.originalPath.includes('/gestion') &&
                        !currentRoute.$$route.originalPath.includes('/profil') &&
                        !currentRoute.$$route.originalPath.includes('/admin') &&
                        !currentRoute.$$route.originalPath.includes('/settings')
                    )">Selection</span>
                </a>
                <div class="dropdown-menu" aria-labelledby="nav-selection">
                    <a class="dropdown-item" ng-class="{active: currentRoute.$$route.originalPath.includes('/conception')}" href="/conception">Conception des devis</a>
                    <a class="dropdown-item" ng-class="{active: currentRoute.$$route.originalPath.includes('/paiement')}" href="javascript:;">Modalités de paiement</a>
                    <a class="dropdown-item" ng-class="{active: currentRoute.$$route.originalPath.includes('/settings')}" href="/settings">Paramétrage</a>
                </div>
            </li>
        </ul>
    </div>
    <ul class="navbar-nav">
        <li class="nav-item dropdown">
            <a class="nav-link nav-gear" title="Panneau administrateur" href="/admin"><i class="fa fa-cog"></i></a>
        </li>
    </ul>
    <ul class="navbar-nav">
        <li class="nav-item dropdown">
            <a class="nav-link" title="Panneau de gestion" href="/gestion"><i class="fa fa-address-book-o"></i></a>
        </li>
    </ul>
    <span class="nav-separator"></span>
    <ul class="navbar-nav">
        <li class="nav-item dropdown">
            <a class="nav-link" href="#" data-toggle="dropdown" id="nav-profil">
                <span ng-bind="userSession.payload.nom"></span>&nbsp;
                <span ng-bind="userSession.payload.prenom"></span>
                <span class="hexagon-profile"><i class="fa fa-user"></i></span>
            </a>
            <div class="dropdown-menu right" aria-labelledby="nav-profil">
                <a class="dropdown-item" href="/profil">Mon profil</a>
                <a class="dropdown-item" href="/logout">Déconnexion</a>
            </div>
        </li>
    </ul>
</nav>

<div class="app-container" id="app" ng-view></div>

<script src="dist/js/mastrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.dev.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.js"></script>
<script src="https://rawgit.com/bassjobsen/Bootstrap-3-Typeahead/master/bootstrap3-typeahead.js"></script>
<script src="app/lib/require.js" data-main="app/lib/main.js"></script>
</body>
</html>
