<div class="form-group">
    <label>{{ champ.nom }}</label>
    <input type="text" ng-model="liste[champ.field]" class="form-control"
           ng-class="{'border-danger': errors.hasOwnProperty(champ.field)}" maxlength="{{ champ.params.maxlength}}">
    <span class="text-danger small">&nbsp;{{ errors[champ.field] }}</span>
</div>
