<div class="of-auto">
    <a href="" ng-click="openGenericModal(champ.modelCible)" class="btn btn-default pull-right" title="Ajouter un {{champ.modelCible}} au {{itemList.modelNom}}"><i class="fa fa-plus"></i></a>
    <table class="table table-striped table-hover">
        <thead>
        <tr class="table-head">
            <th ng-repeat="col in champ.cols">{{col.label}}</th>
            <th class="text-right not-allowed">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-if="champ.response.length > 0" ng-repeat="item in champ.response">
            <td ng-repeat="col in itemList.cols">{{item[col.champ]}}</td>
            <td>
                <div class="btn btn-danger pull-right" ng-click="openModal(item.id,item.label)"><i class="fa fa-archive"></i></div>
                <div class="btn btn-default pull-right" ng-click="edit(item.id)"><i class="fa fa-edit"></i></div>
            </td>
        </tr>
        <tr ng-if="!(champ.response.length > 0)">
            <td colspan="{{ champ.cols.length +1 }}" class="text-center">
                <span>Aucun élément n'a été trouvé</span>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<br>

<!--Modale de niveau 1 -->
<div class="modal modal-primary" id="modal{{champ.modelCible}}" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Ajouter / Modifier un {{champ.modelCible}}</h5>
            </div>
            <div class="modal-body">
                <!--Ici, champ correspond aux champs de la modale, à ne pas confondre avec les autres-->
                <div ng-repeat="champ in champ.champsModal" ng-class="champ.parentDivClass" ng-include="'app/views/elements/'+champ.type+'.html'"></div>
            </div>
            <div class="modal-footer">
                <div onclick="$('.modal').modal('hide');" class="btn btn-sm btn-info pull-right">Annuler <i class="fa fa-undo"></i></div>
                <button title="Ajouter au module" class="btn btn-success pull-right" ng-click="addElemToTab(champ.modelSave)">
                    <i class="fa fa-plus"></i>
                </button>
            </div>
        </div>
    </div>
</div>
