<div class="form-group">
    <label>{{champ.nom}}</label>
    <textarea ng-model="liste[champ.field]" rows="4" class="form-control"
              ng-class="{'border-danger': errors.hasOwnProperty(champ.field)}"></textarea>
    <span class="text-danger small">&nbsp;{{ errors[champ.field] }}</span>
</div>
