<div class="card">
    <div class="card-header">Menu</div>
    <div class="card-body m-0">
        <ul class="vertical-menu">
            <!-- Projets -->
            <li class="item" ng-class="{active: currentRoute.$$route.originalPath.includes('/conception/projets')}"
                title="Gestion des gammes">
                <a href="/conception/projets/liste-projets">Projets</a>
            </li>

            <!-- Devis -->
            <li class="item" ng-class="{active: currentRoute.$$route.originalPath.includes('/conception/devis')}"
                title="Gestion des modules">
                <a href="/conception/devis/liste-devis">Devis</a>
            </li>
            <li class="item item-child"
                ng-class="{active: currentRoute.$$route.originalPath.includes('/settings/liste-composants')}"
                title="Gestion des composants">
                <a href="/settings/liste-composants">Brouillons</a>
            </li>
            <li class="item item-child"
                ng-class="{active: currentRoute.$$route.originalPath.includes('/settings/liste-clients')}"
                title="Gestion des clients">
                <a href="/settings/liste-clients">En attente</a>
            </li>
            <li class="item item-child"
                ng-class="{active: currentRoute.$$route.originalPath.includes('/settings/utilisateurs')}"
                title="Gestion des utilisateurs">
                <a href="/settings/utilisateurs/liste-utilisateurs">...</a>
            </li>

        </ul>
    </div>
</div>
