<div class="card">
    <div class="card-header">Menu</div>
    <div class="card-body m-0">
        <ul class="vertical-menu">
            <li class="item" ng-class="{active: currentRoute.$$route.originalPath.includes('/admin/utilisateurs')}"
                title="Gestion des utilisateurs">
                <a href="/admin/utilisateurs/liste-utilisateurs">Utilisateurs</a>
            </li>
        </ul>
    </div>
</div>
