<div class="card">
    <div class="card-header">Menu</div>
    <div class="card-body m-0">
        <ul class="vertical-menu">
            <li class="item" ng-class="{active: currentRoute.$$route.originalPath.includes('/settings/gammes')}"
                title="Gestion des gammes">
                <a href="/settings/gammes/liste-gammes">Gammes</a>
            </li>
            <li class="item item-child" ng-class="{active: currentRoute.$$route.originalPath.includes('/settings/typegammes')}"
                title="Gestion des types de gammes">
                <a href="/settings/typegammes/liste-typegammes">Types de gammes</a>
            </li>
            <li class="item item-child" ng-class="{active: currentRoute.$$route.originalPath.includes('/settings/typefinitions')}"
                title="Gestion des types de finitions">
                <a href="/settings/typefinitions/liste-typefinitions">Types de finitions</a>
            </li>
            <li class="item item-child" ng-class="{active: currentRoute.$$route.originalPath.includes('/settings/typeisolants')}"
                title="Gestion des types d'isolants">
                <a href="/settings/typeisolants/liste-typeisolants">Types d'isolants</a>
            </li>
            <li class="item" ng-class="{active: currentRoute.$$route.originalPath.includes('/settings/modules')}"
                title="Gestion des modules">
                <a href="/settings/modules/liste-modules">Modules</a>
            </li>
            <li class="item item-child" ng-class="{active: currentRoute.$$route.originalPath.includes('/settings/naturemodules')}"
                title="Gestion des natures de modules">
                <a href="/settings/naturemodules/liste-naturemodules">Natures de modules</a>
            </li>
            <li class="item" ng-class="{active: currentRoute.$$route.originalPath.includes('/settings/composants')}"
                title="Gestion des composants">
                <a href="/settings/composants/liste-composants">Composants</a>
            </li>
            <li class="item item-child" ng-class="{active: currentRoute.$$route.originalPath.includes('/settings/famillecomposants')}"
                title="Gestion des familles de composants">
                <a href="/settings/famillecomposants/liste-famillecomposants">Familles de composants</a>
            </li>
            <li class="item" ng-class="{active: currentRoute.$$route.originalPath.includes('/settings/etatdevis')}"
                title="Gestion des états de devis">
                <a href="/settings/etatdevis/liste-etatdevis">États de devis</a>
            </li>
            <li class="item" ng-class="{active: currentRoute.$$route.originalPath.includes('/settings/tva')}"
                title="Gestion des TVA">
                <a href="/settings/tva/liste-tva">TVA</a>
            </li>
        </ul>
    </div>
</div>
