<div class="card">
    <div class="card-header">Menu</div>
    <div class="card-body m-0">
        <ul class="vertical-menu">
            <li class="item" ng-class="{active: currentRoute.$$route.originalPath.includes('/gestion/fournisseurs')}"
                title="Gestion des fournisseurs">
                <a href="/gestion/fournisseurs/liste-fournisseurs">Fournisseurs</a>
            </li>
            <li class="item" ng-class="{active: currentRoute.$$route.originalPath.includes('/gestion/clients')}"
                title="Gestion des clients">
                <a href="/gestion/clients/liste-clients">Clients</a>
            </li>
        </ul>
    </div>
</div>
