<div class="row">
    <div class="col-3" ng-include="'app/views/conception/menuConception.html'"></div>
    <div class="col-9">
        <div class="card">
            <div class="card-header">
                {{titre}}
                <a href="/{{itemList.moduleNom}}/{{itemList.dossierNom}}/liste-{{itemList.dossierNom}}" title="Retour"
                   class="btn btn-info pull-right"><i class="fa fa-undo"></i></a>
                <button ng-hide="isEdit" title="Enregistrer" class="btn btn-success pull-right" ng-click="update()" ng-disabled="saveLoading">
                    <i class="fa fa-save" ng-hide="saveLoading"></i>
                    <i class="fa fa-circle-o-notch fa-spin" ng-show="saveLoading"></i>
                </button>
                <button ng-show="isEdit" title="Enregistrer" class="btn btn-success pull-right" ng-click="update(id)" ng-disabled="saveLoading">
                    <i class="fa fa-save" ng-hide="saveLoading"></i>
                    <i class="fa fa-circle-o-notch fa-spin" ng-show="saveLoading"></i>
                </button>
            </div>
            <nav class="nav" id="nav-tab" role="tablist">
                <a class="nav-link active" id="nav-general-tab" data-toggle="tab" href="#nav-general"
                   role="tab" aria-controls="nav-home" aria-selected="true">Général</a>
                <a class="nav-link" id="nav-products-tab" data-toggle="tab" href="#nav-products"
                   role="tab" aria-controls="nav-home" aria-selected="true">Produits</a>
            </nav>
            <div class="card-body" style="overflow: initial">
                <div class="tab-pane fade show active" id="nav-general" role="tabpanel" aria-labelledby="nav-general-tab">
                    <div class="row m-0">
                        <div ng-repeat="champ in itemList.champs" ng-class="champ.parentDivClass" ng-include="'app/views/elements/'+champ.type+'.html'">
                            <!--<div ng-include="'app/views/elements/'+champ.type+'.html'"></div>-->
                        </div>

                        <div ng-show="isEdit" title="Archiver" class="btn btn-block btn-danger pull-right"
                             onclick="$('.modal').modal('show');"><i class="fa fa-archive"></i> Archiver
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-products" role="tabpanel" aria-labelledby="nav-general-tab">
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr class="table-head">
                            <th class="ng-binding unsorted">Référence</th>
                            <th class="ng-binding unsorted">Projet</th>
                            <th class="ng-binding unsorted">État du devis</th>
                            <th class="ng-binding unsorted">Date de fin de validité</th>
                            <th class="text-right not-allowed">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>DEVIS 69</td>
                            <td>Projet X XXX69</td>
                            <td>Ouvert</td>
                            <td>02/01/2019</td>
                            <td>
                                <div class="btn btn-danger pull-right" ng-click="openModal(item.id,item.label)"><i class="fa fa-trash"></i></div>
                                <div class="btn btn-default pull-right" ng-click="edit(item.id)"><i class="fa fa-edit"></i></div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4">&nbsp;</td>
                            <td>
                                <div class="btn btn-default btn-add-table pull-right"><i class="fa fa-plus"></i></div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


        <!--Modale de suppression-->
        <div class="modal modal-danger" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Archiver l'élément</h5>
                    </div>
                    <div class="modal-body">
                        <p>Voulez-vous vraiment archiver l'élément {{current.label}} ?</p>
                    </div>
                    <div class="modal-footer">
                        <div onclick="$('.modal').modal('hide');" class="btn btn-sm btn-info pull-right">Annuler <i class="fa fa-undo"></i></div>
                        <div onclick="$('.modal').modal('hide');" ng-click="delete()" class="btn btn-sm btn-danger pull-right"><i class="fa fa-archive"></i></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal modal-primary" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-dialog-extended" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Archiver l'élément</h5>
                        <div class="dropdown dropdown-el">
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <b>Charger un modèle</b>
                            </button>
                            <div class="dropdown-menu">
                                <div class="dropdown-item">Action</div>
                                <div class="dropdown-item">Action</div>
                                <div class="dropdown-item">Action</div>
                                <div class="dropdown-item">Action</div>
                                <div class="dropdown-item">Action</div>
                                <div class="dropdown-item">Action</div>
                                <div class="dropdown-item">Action</div>
                                <div class="dropdown-item">Action</div>
                                <div class="dropdown-item">Action</div>
                                <div class="dropdown-item">Action</div>
                                <div class="dropdown-item">Action</div>
                                <div class="dropdown-item">Action</div>
                                <div class="dropdown-item">Action</div>
                                <div class="dropdown-item">Action</div>
                                <div class="dropdown-item">Action</div>
                                <div class="dropdown-item">Action</div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="col-12">

                            <!-- TODO : Mettre les champs ici -->

                            <table class="table table-striped table-hover">
                                <thead>
                                <tr class="table-head">
                                    <th class="ng-binding unsorted">Référence</th>
                                    <th class="ng-binding unsorted">Projet</th>
                                    <th class="ng-binding unsorted">État du devis</th>
                                    <th class="ng-binding unsorted">Date de fin de validité</th>
                                    <th class="text-right not-allowed">Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>DEVIS 69</td>
                                    <td>Projet X XXX69</td>
                                    <td>Ouvert</td>
                                    <td>02/01/2019</td>
                                    <td>
                                        <div class="btn btn-danger pull-right" ng-click="openModal(item.id,item.label)"><i class="fa fa-trash"></i></div>
                                        <div class="btn btn-default pull-right" ng-click="edit(item.id)"><i class="fa fa-edit"></i></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="4">&nbsp;</td>
                                    <td>
                                        <div class="btn btn-default btn-add-table pull-right"><i class="fa fa-plus"></i></div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div onclick="$('.modal').modal('hide');" class="btn btn-sm btn-info pull-right">Annuler <i
                                class="fa fa-undo"></i></div>
                        <div onclick="$('.modal').modal('hide');" ng-click="delete()" class="btn btn-sm btn-danger pull-right">
                            <i class="fa fa-archive"></i></div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
