<div class="row">
    <div class="col-10 offset-1">
        <div class="card">
            <div class="card-header">
                {{titre}}
                <a href="/" title="Retour" class="btn btn-info pull-right"><i class="fa fa-undo"></i></a>
                <div title="Modifier mon profil" class="btn btn-success pull-right" ng-click="updateUser()"><i class="fa fa-save"></i></div>
            </div>
            <div class="card-body">
                <div class="row m-0">
                    <div class="col-6">
                        <div class="form-group" ng-class="{'has-error': fieldsErrors.includes('nom')}">
                            <label>Nom</label>
                            <input type="text" ng-model="utilisateur.nom" ng-change="upperCase(utilisateur.nom)" class="form-control">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group" ng-class="{'has-error': fieldsErrors.includes('prenom')}">
                            <label>Prénom</label>
                            <input type="text" ng-model="utilisateur.prenom" class="form-control">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group" ng-class="{'has-error': fielsdErrors.includes('telephone')}">
                            <label>Téléphone</label>
                            <input type="text" ng-model="utilisateur.tel" id="tel" data-inputmask="'mask': '99.99.99.99.99'" class="form-control">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group" ng-class="{'has-error': fieldsErrors.includes('email')}">
                            <label>E-mail</label>
                            <input type="email" ng-model="utilisateur.email" class="form-control">
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group" ng-class="{'has-error': fieldsErrors.includes('role')}">
                            <label>Rôle</label>
                            <select ng-model="utilisateur.role" class="form-control">
                                <option value="Administrateur" selected>Administrateur</option>
                                <option value="Commercial">Commercial</option>
                            </select>
                        </div>
                    </div>
                    <hr class="col-8 offset-2">
                    <div class="col-6">
                        <div class="form-group" ng-class="{'has-error': fieldsErrors.includes('password')}">
                            <label>Mot de passe *</label>
                            <input type="password" ng-model="utilisateur.mdp" class="form-control">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group" ng-class="{'has-error': fieldsErrors.includes('conf_mdp')}">
                            <label>Confirmation mot de passe *</label>
                            <input type="password" ng-model="utilisateur.conf_mdp" class="form-control">
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!--Modale de suppression-->
<div class="modal modal-danger" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Supprimer l'utilisateur</h5>
            </div>
            <div class="modal-body">
                <p>Voulez-vous vraiment supprimer l'utilisateur {{utilisateur.nom}} {{utilisateur.prenom}} ?</p>
            </div>
            <div class="modal-footer">
                <a onclick="$('.modal').modal('hide');" class="btn btn-sm btn-info pull-right">Annuler <i class="fa fa-undo"></i></a>
                <div onclick="$('.modal').modal('hide');" ng-click="deleteUser()" class="btn btn-sm btn-danger pull-right"><i class="fa fa-trash-o"></i></div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#tel").inputmask();
    });
</script>